.app-layout {
  display: flex;
}

.main-content {
  flex-grow: 1;
  margin-left: 220px; /* Same as sidebar width */
  display: flex;
  flex-direction: column;
}

/* Make Header component adapt */
.app-header {
  position: sticky;
  top: 0;
  z-index: 10;
  /* Adjust width to be content-only */
  width: auto; 
}

.page-container {
  padding: 25px;
}